{% extends 'base.html.twig' %}

{% block title %}Genre Movies{% endblock %}

{% block body %}
    <h2>Movies in Genre</h2>
    <div class="movie-list">
        {% for movie in movies %}
            <div class="movie-item">
                <h3>{{ movie.title }}</h3>
                <p>{{ movie.overview }}</p>
                <a href="{{ path('movie_details', { 'id': movie.id }) }}">Details</a>
            </div>
        {% else %}
            <p>No movies available in this genre.</p>
        {% endfor %}
    </div>
{% endblock %}
